@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  scroll-behavior: smooth;
}

.bg-overlay {
  position: relative;
  background-image: url(logan-weaver-lgnwvr-xjyHDnA93Pk-unsplash.jpg);
  width: 100%;
  height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* dark transparent overlay */
  z-index: 1;
}

.navbar,
.intro-section {
  position: relative;
  z-index: 2;
}
.navbar {
  font-family: "Roboto", sans-serif;
  background-color: rgba(255, 255, 255, 0.493);
}

.navbar-nav .nav-link {
  position: relative;
  overflow: hidden;
}

.navbar-brand {
  color: #ffd700 !important;
  text-shadow: 0 0 5px #ffd700, 0 0 10px #ffd700, 0 0 0px #ffaa00,
    0 0 80px #ff8800;
  transition: text-shadow 0.3s ease-in-out;
}

.navbar-brand:hover {
  text-shadow: 0 0 10px #ffd700, 0 0 20px #ffaa00;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 2px;
  background-color: #ffbf00;
  transition: transform 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.intro-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  font-family: "Baloo Paaji 2", sans-serif;
  z-index: 2;
}

.intro h2 {
  color: rgba(255, 255, 255, 0.616);
  font-size: 5rem;
}

.intro h1 {
  font-weight: 400;
  font-size: 5.8rem;
}

.intro h3 {
  font-weight: 100px;
  letter-spacing: 0.7rem;
  /* font-size:  3rem; */
  color: rgba(255, 255, 255, 0.616);
}
